:root {
  --gray-color-200: #ededed;
  --gray-color-300: #c2c3cb;
  --gray-color-400: #9d9d9d;
  --gray-color-500: #606060;
  --black-color: #000;
  --white-color: #fff;
  --red-color: #e23333;
  --green-color: #10c352;
}
